@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/ROBOTO-REGULAR.TTF") format("opentype");
}

@font-face {
    font-family: "Gothic";
    src: url("assets/fonts/GOTHIC.TTF") format("opentype");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
    margin: 40px 0;
    color: #ce3e3e;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: "Gothic", serif;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 9999;
}

.content-container {
    /*padding-top: 100px;*/
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcome-header {
    color: white;
    z-index: 9999;
    font-size: 100px;
    display: flex;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    bottom: 10%;
}

.welcome-header:after {
    z-index: -1;
    position: absolute;
    bottom: 6px;
    right: 124px;
    content: "";
    height: 106px;
    background-color: #ce3e3e;
    width: 226px;
    border-radius: 10px;
}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("assets/png/fon.jpg");
    height: 100vh;
    width: 100%;
    font-family: "Gothic", serif;
}

.welcome-image:before {
    position: absolute;
    left: 0;
    content: "";
    height: 100vh;
    background-color: #000000;
    opacity: 0.59;
    width: 100%;
}

.welcome-image span {
    color: #ffffff;
    font-size: 38px;
    text-transform: uppercase;
    position: absolute;
    bottom: 120px;
}

.arrow-down {
    z-index: 9999;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.arrow-animate {
    animation: animation-arrow 1s forwards infinite; /* add "forwards" here to stop the animation at end-frame */
    bottom: 90px;
}

@keyframes animation-arrow {
    66% {
        bottom: 95px;
    }
    100% {
        bottom: 90px;
    }
}

/*CIRCLES-CONTAINER*/

.calculator-text-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: "Gothic", serif;
}

.text-big {
    font-size: 65px;
    letter-spacing: 3px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.text-medium {
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 60px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.text {
    font-size: 20px;
    line-height: 60px;
    /*color: #9b9b9b;*/
    /*color: #ffffff;*/
    text-transform: uppercase;
    text-align: center;
}

.prices-container {
    padding: 0 70px 70px 70px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    border-radius: 10px;
}

.prices-row {
    display: flex;
    flex-wrap: wrap;
}

.price-item {
    position: relative;
    padding: 60px 30px 30px;
    margin: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* border-right: 2px solid #9b9b9b; */
    box-shadow: 0px 2px 24px rgba(54, 37, 42, 0.09);
    /* background-color: #c6c6c6; */
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
}

.price-description-container {
    align-items: center;
    display: flex;
    width: 100%;
    border-bottom: 2px grey solid;
}

.price-description-container img {
    width: 40px;
    height: 40px;
}

.price-description {
    line-height: 35px;
    padding: 15px 20px;
    width: 100%;
    display: flex;
}

.price-description-container:last-of-type {
    border: none;
}

.red-back {
    border-radius: 20px 20px 0 0;
    height: 160px;
    position: absolute;
    /* z-index: 999; */
    background: grey;
    width: 100%;
    top: 0;
    font-size: 30px;
    background: #ce3e3e;
    color: white;
}

.price-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    background-color: #ce3e3e;
    font-weight: 300;
    /* padding-bottom: 50px; */
    text-align: center;
    border: 20px solid #ffffff;
    border-radius: 100%;
    /* background: white; */
    height: 150px;
    width: 150px;
    transition: 0.3s linear;
    /* box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.39); */
}

.symbol-dollar {
    /*position: absolute;*/
    /*font-size: 60px;*/
    /*letter-spacing: 3px;*/
    /*line-height: 60px;*/
    /*left: 20px;*/
    /*top: -12px;*/

    position: relative;
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 45px;
    /* left: 20px; */
    /*top: -12px;*/
}

.price-item:hover > .price-count {
    background-color: #b71717
}

/*CALCULATOR*/
.test {
    background: url("assets/png/123.png");
    /*min-height: 600px;*/
    width: 100%;
    background-size: cover;
    display: flex;
    margin-top: 100px;
}

.test-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test-question {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 50px;
    position: relative;
}

.rocket {
    position: absolute;
    transform: rotate(45deg);
    right: -150px;
    top: -130px;
}

.test:before {
    position: absolute;
    left: 0;
    content: "";
    height: 100vh;
    background-color: #000000;
    opacity: 0.59;
    width: 100%;
}


.form-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*min-height: 600px;*/
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 24px rgba(54, 37, 42, 0.09);
}

.slide-form-0 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    background: url("assets/png/background-form1.png");
}

.slide-form-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    background: url("assets/png/background-form2.png");
}

.slide-form-2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    background: url("assets/png/background-form3.png");
}

/*.slide-form-0:before, .slide-form-1:before, .slide-form-2:before {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    content: "";*/
/*    height: 100%;*/
/*    background-color: #000000;*/
/*    opacity: 0.59;*/
/*    width: 100%;*/
/*}*/


.calc-form {
    position: relative;
    flex: 1;
    /*min-height: 600px;*/
    z-index: 1;
    max-width: 600px;
    background-color: #ffffff;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 2px 24px rgba(54, 37, 42, 0.09);
    /*background: url("assets/png/123.png");*/
}

.calc-image {
    /*width: 60%;*/
    flex: 1;
    background: url("assets/png/walker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*.calc-form::after {*/
/*    background: red;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    -moz-border-radius: 50px;*/
/*    -webkit-border-radius: 50px;*/
/*    border-radius: 50px;*/
/*    !*border-radius: 100px / 50px;*!*/
/*    content: '';*/
/*    position: absolute;*/
/*    right: -190px;*/
/*    top: 230px;*/
/*    opacity: 0.75;*/
/*    !*border: 90px solid transparent;*!*/
/*    !*border-left: 100px solid #ce3e3e;*!*/
/*}*/

.calc-header {
    /*text-transform: uppercase;*/
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    /*color: #ce3e3e;*/

    border-radius: 20px 20px 0 0;
    padding: 10px;
    margin: 0;
    height: 46px;
    background: #ce3e3e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-body {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.calc-body label {
    /*top: 0px;*/
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0, 0, 0, .87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.calc-body input {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease;
}

.row-calc {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.row-calc .row-calc-header {
    /*min-width: 200px;*/
    /*padding-right: 30px;*/
    /*padding-left: 80px;*/
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
}

#calculator-2 .row-calc .row-calc-header {
    min-width: 360px;
    max-width: 360px;
    padding-left: 80px;
}

.send-button-container {
    padding: 24px 0;
    display: flex;
    justify-content: center;
}


.left-part-calc {
    display: flex;
    padding-left: 90px;
    flex-direction: column;
    flex: 1;
    border-right: 2px #ffffff solid;
}

.left-part-calc .item {
    padding: 10px 0;
    text-align: start;
}

.right-part-calc {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.radio-calc {
    display: flex;
    flex-direction: row;
}

.radio-block {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    line-height: 10px;
    display: inline-block;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #f00007;
    position: absolute;
    top: 24px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.input-calc-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.space-row {
    justify-content: space-between;
}

.input-calc-block .item {
    padding: 10px 0;
    padding-right: 30px;
    width: 100%;
    position: relative;
}

.large-length-input {
    width: 100%;
}

/*SLIDE_CONTAINER*/
.slide-container {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
}

.image-text {
    padding-top: 10px;
    margin: 30px;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.slide-item img {
    box-shadow: 0px 2px 24px rgba(54, 37, 42, 0.09);
    width: 860px;
}

.slide-text:first-of-type {
    margin-left: 0;
}

.slide-text {
    min-height: 300px;
    /*padding: 0 30px 30px;*/
    margin-left: 10px;
    margin-bottom: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0px 2px 24px rgba(54, 37, 42, 0.09);
}

.slide-text h3 {
    border-radius: 20px 20px 0 0;
    padding: 10px;
    margin: 0;
    height: 46px;
    background: #ce3e3e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-describe {
    padding: 30px;
    text-align: center;
}


/*YELLOW-CONTAINER*/
.pink-container {
    /*background-color: #ffb6b3;*/
    position: relative;
    background: url("assets/png/principies-background.jpg");
    margin-top: 120px;
    /*width: 100vw;*/
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.pink-container:before {
    position: absolute;
    left: 0;
    content: "";
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
}

.pink-table {
    display: table;
    width: 1080px;
    border-spacing: 15px 30px;
    table-layout: fixed;
    z-index: 9999;
}

.pink-table td {
    border: 2px #ce3e3e solid;
}

/*.pink-table tr:first-of-type {*/
/*border-bottom: 2px #ffffff solid;*/
/*}*/

.pink-table td {
    /*border-left: 2px #ffffff solid;*/
}

/*.pink-table td:first-of-type {*/
/*border: none;*/
/*}*/

.pink-table td {
    padding: 0 30px;
    height: 350px;
}

.pink-table h3 {
    min-height: 60px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-table p {
    min-height: 64px;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

.table-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.table-image img {
    height: 130px;

}

.image-discript {
    max-width: 400px;
}

/*ADVERTISING*/

.advertising-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-image: url(assets/png/adversting-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

.advertising-container:before {
    position: absolute;
    left: 0;
    content: "";
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
}

.advertising-block {
    /*max-width: 1080px;*/
    /*min-width: 1080px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    position: relative;
    /*transition: all 0.3s ease-in;*/
}

.advertising-block span {
    text-align: center;
    /*color: white;*/
}

.label-minimal {
    position: relative;
    top: 15px;
    font-size: 18px;
    color: #af0808;
    text-transform: uppercase;
}

.left-line {
    position: absolute;
    top: 0;
    right: 300px;
}

.right-line {
    position: absolute;
    top: 0;
    left: 300px;
}


.advertising-price {
    padding: 30px;
    font-size: 42px;
    display: flex;
    color: #ffffff !important;
    justify-content: center;
}

.advertising-left {
    flex: 1;
    font-size: 20px;
}

.advertising-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.advertising-button {
    position: relative;
    top: -30px;
    font-weight: bold;
    background-color: #af0808;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 80px;
    line-height: 50px;
    padding: 0 50px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: 0.3s linear;
}

/*KEYSES*/
.keyses-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1080px;
    /*height: 85vh;*/
    align-items: center;
    justify-content: center;
}

.keyses-description-block {
    display: flex;
    flex-direction: column;
}

.flex-block-row {
    display: flex;
    flex-direction: row;
}

.keyses-description-block span {
    color: #000000;
    font-weight: bold;
}

.keyses-description {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex: 1;
    border-radius: 10px;
    margin: 25px;
    box-shadow: 0px 2px 24px rgba(54, 37, 42, 0.09);
    padding: 30px;
}

.test1 {
    background: url("assets/png/case-1.jpg");
    background-size: contain;
}

.keyses-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 55%;*/
}

.keyses-images .monitor {
    width: 600px;
    padding: 40px 20px 0 20px;
}

/*SLIDER-LOGOS*/
.slide-logo {
    width: 70%;
}

/*FOOTER*/
.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 50px;
    background-image: url('assets/png/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gothic', serif;
    margin-top: 20px;
}

.footer:before {
    position: absolute;
    left: 0;
    content: "";
    height: 100%;
    background-color: #000000;
    opacity: 0.59;
    width: 100%;
}

.background-logo {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}


.footer-header {
    color: #ffffff;
    /*flex: 1;*/
    /*min-width: 400px;*/
}

.empty {
    flex: 1;
    min-width: 700px;
}

.row {
    display: flex;
    max-width: 1280px;
    padding-top: 20px;
    flex-direction: row;
    z-index: 3;
}

.left-part-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-height: 350px;*/
    /*max-height: 350px;*/
    justify-content: space-between;
    position: relative;
}

.right-part-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-input {
    line-height: 50px;
    padding: 0 10px;
    border-radius: 4px;
    border: none;
    min-width: 500px;
    font-size: 20px;
    min-height: 45px;
}

.send-label {
    display: flex;
    position: absolute;
    right: 4px;
    color: #ffffff;
    background: #af0808;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s linear;
    line-height: 46px;
    padding: 0 20px;
}


.icon-container {
    display: flex;
    background-color: #af0808;
    margin-bottom: 20px;
    border-radius: 8px;
    height: 50px;
    transition: 0.3s linear;
}

.icon-container:hover, .send-label:hover, .advertising-button:hover {
    /*background-color: #ce3e3e;*/
    cursor: pointer;
}

.float-container {
    position: relative;
    display: flex;
    align-items: center;
}

/*label {*/
/*    position: absolute;*/
/*}*/

.social-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icon {
    width: 50px;
    padding: 3px;
}

.left-part-footer input {
    width: 90%;
}

.footer-button-container {
    position: relative;
    z-index: 3;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.send-button {
    font-weight: bold;
    background-color: #ce3e3e !important;
    color: #ffffff !important;
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

/*CARUSEL STYLES*/

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url("assets/png/background-form.jpg");
}

.form-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    /*transition: all 0.3s ease-in;*/
}


.form-container .slick-next {
    top: 86%;
    left: 590px;
    z-index: 999;
}

.form-container .slick-prev {
    top: 86%;
    left: 50px !important;
    z-index: 999;
}

.slick-arrow-right {
    position: absolute;
    top: 380px;
    left: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}

.slick-arrow-left {
    position: absolute;
    top: 380px;
    right: 30px;
    cursor: pointer;
}

.form-container.slider {
    width: 100vw;
}

.slider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-prev {
    left: -45px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 45px !important;
    opacity: 1 !important;
    /*color: #8a0303 !important;*/
    color: #ce3e3e !important;
    transition: 0.3s linear;
}

.slick-prev:hover:before, .slick-next:hover:before {
    color: #ce3e3e !important;
}

.slick-disabled {
    transition: 0.3s linear;
    opacity: 0.3 !important;
}

.keyses-class .slick-slide {
    display: flex !important;
    justify-content: center;
}

/*.keyses-class .slick-track {*/
/*    height: 85vh;*/
/*}*/

.advertising-format-class .slick-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.slick-dots li button:before {
    font-size: 16px !important;
}

.slick-dots li.slick-active button:before {
    /*color: #8a0303 !important;*/
    color: #ce3e3e !important;
    opacity: 1 !important;
}

/*SCROLL STYLING*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

/deep/ .slick-list {
    min-height: 1000px !important;
}

.mobile-logo {
    display: none;
}

#slick-slide10,#slick-slide11{
    min-height: 500px!important;
}

/*MEDIA REQUEST*/
@media (max-width: 1100px) {
    .calc-form {
        margin: 40px 10px;
    }

    .right-part-footer div {
        width: 300px !important;
    }

    .calc-body input {
        width: calc(100% - 2em);
    }

    .calc-header {
        font-size: 18px;
    }

    .text-big {
        font-size: 40px;
        line-height: 40px;
    }

    .text {
        line-height: 20px;
    }

    .pink-table {
        width: auto;
        border-spacing: 0;
    }

    .pink-table td {
        margin: 30px;
        display: block;
        height: auto;
    }

    .prices-row {
        flex-direction: column;
        align-items: center;
    }

    .price-item {
        /*min-width: 350px;*/
        border-right: none;
        border-bottom: 2px solid #9b9b9b;
    }

    .slide-text {
        min-height: auto;
    }

    .slick-prev {
        left: 0px !important;
        z-index: 9999;
    }

    .slick-next {
        right: 20px !important;
        z-index: 9999;
    }

    .prices-container {
        padding: 0;
        margin: 15px;
    }

    .input-calc-block {
        flex-direction: column;
    }

    .input-calc-block .item {
        padding: 10px 0;
    }

    .footer-input {
        min-width: auto;
    }
}

@media (max-width: 1000px) {



    .slick-list {
        /*min-height: 500px !important;*/
        padding-bottom: 40px !important;
    }

    .welcome-header:after {
        display: none;
    }

    .mobile-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20%;
        position: relative;
        z-index: 2;
    }

    .mobile-logo img {
        width: 60%;
        opacity: 0.9;
    }

    .slick-track {
        align-items: start !important;
    }

    .slick-prev:before, .slick-next:before {
        opacity: 1 !important;
        font-size: 40px !important;
        color: #af0808 !important;
    }

    .advertising-button {
        display: block;
        margin: 30px;
    }

    .advertising-price {
        font-size: 30px;
    }

    .advertising-block span{
        padding-bottom: 30px;
    }

    .label-minimal{
        font-size: 26px;
    }

    .welcome-image span {
        font-size: 20px;
    }

    .welcome-header {
        font-size: 40px;
    }

    .flex-block-row {
        flex-direction: column;
        align-items: center;
    }

    .keyses-description {
        width: auto;
    }

    .keyses-images .monitor {
        width:80%;
    }

    .right-line, .left-line {
        display: none
    }

    .slide-item img {
        width: 120%;
    }

    .keyses-container {
        padding-top: 60px;
    }

    .keyses-images img {
        width: 80%;
        height: auto !important;
    }

    .image-text {
        flex-direction: column;
        margin: 0;
    }

    .slide-text {
        margin: 10px 0;
        max-width: 600px;
    }

    .keyses-container .slick-prev {
        top: 65%;
    }

    .keyses-container .slick-next {
        top: 65%;
    }

    .advertising-format-class .slick-prev {
        top: 50%;
    }

    .advertising-format-class .slick-next {
        top: 50%;
    }

    .row{
        flex-direction: column;
    }

    .float-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .send-label{
        position: relative;
        bottom: 0;
        right: 0;
        margin: 10px;
    }
}
